### Naive Bayes Classifier
* Is a simple yet powerful probabilistic machine learning algorithm used for classification tasks.
* The Bayes theorem assumes that the features(or predicators) are independent of each other, given the class label. 
* P(A∣B) = P(B∣A)⋅P(A) / P(B)

In [5]:
import pandas as pd

df = pd.read_csv('../hanifm/Workspace/ML/datasets/titanic.csv')
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [6]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Pclass     Sex   Age     Fare  Survived
0       3    male  22.0   7.2500         0
1       1  female  38.0  71.2833         1
2       3  female  26.0   7.9250         1
3       1  female  35.0  53.1000         1
4       3    male  35.0   8.0500         0

In [7]:
inputs = df.drop('Survived', axis='columns')
target = df['Survived']

In [9]:
dummies = pd.get_dummies(inputs['Sex'])
dummies.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [10]:
inputs = pd.concat([inputs, dummies], axis='columns')
inputs.head()

   Pclass     Sex   Age     Fare  female  male
0       3    male  22.0   7.2500       0     1
1       1  female  38.0  71.2833       1     0
2       3  female  26.0   7.9250       1     0
3       1  female  35.0  53.1000       1     0
4       3    male  35.0   8.0500       0     1

In [ ]:
inputs.drop('Sex', axis='columns', inplace=True)
inputs.head()

In [16]:
inputs.columns[inputs.isna().any()]

Index(['Age'], dtype='object')

In [18]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [20]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.Age[:10]

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: Age, dtype: float64

In [21]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.3)

In [22]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [23]:
model.fit(X_train, y_train)

GaussianNB()

In [25]:
model.score(X_test, y_test)

0.7686567164179104

In [26]:
X_test[:10]

     Pclass        Age      Fare  female  male
290       1  26.000000   78.8500       1     0
86        3  16.000000   34.3750       0     1
730       1  29.000000  211.3375       1     0
245       1  44.000000   90.0000       0     1
58        2   5.000000   27.7500       1     0
689       1  15.000000  211.3375       1     0
368       3  29.699118    7.7500       1     0
479       3   2.000000   12.2875       1     0
816       3  23.000000    7.9250       1     0
890       3  32.000000    7.7500       0     1

In [27]:
y_test[:10]

290    1
86     0
730    1
245    0
58     1
689    1
368    1
479    1
816    0
890    0
Name: Survived, dtype: int64

In [28]:
model.predict(X_test[:10])

array([1, 0, 1, 0, 1, 1, 1, 1, 1, 0])

In [39]:
model.predict_proba(X_test[:10])

array([[1.24437849e-03, 9.98755622e-01],
       [9.87546851e-01, 1.24531489e-02],
       [5.36411324e-10, 9.99999999e-01],
       [5.17276695e-01, 4.82723305e-01],
       [1.56396942e-02, 9.84360306e-01],
       [4.52079305e-10, 1.00000000e+00],
       [5.75898534e-02, 9.42410147e-01],
       [3.50682825e-02, 9.64931717e-01],
       [5.50949825e-02, 9.44905018e-01],
       [9.90809344e-01, 9.19065635e-03]])

In [30]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(), X_train, y_train, cv=5)

array([0.784     , 0.752     , 0.792     , 0.84677419, 0.75      ])